artifacts_root: artifacts

data_ingestion:
  root_dir: artifacts/data_ingestion
  source_URL: https://github.com/JavithNaseem-J/Netflix-SQL/raw/refs/heads/main/flight-fare-data.zip
  local_data_file: artifacts/data_ingestion/data.zip
  unzip_dir: artifacts/data_ingestion


data_validation:
  root_dir: artifacts/data_validation
  unzip_data_dir: artifacts/data_ingestion/flight-fare-data.csv
  status_file: artifacts/data_validation/status.json

data_cleaning:
  root_dir: artifacts/data_cleaning
  file_status: artifacts/data_validation/status.json
  input_data: artifacts/data_ingestion/flight-fare-data.csv
  cleaned_file: artifacts/data_cleaning/cleaned_flight_data.csv


data_transformation:
  root_dir: artifacts/data_transformation
  data_path: artifacts/data_cleaning/cleaned_flight_data.csv
  target_column: Total Fare
  preprocessor_path: artifacts/data_transformation/preprocessor.pkl
  label_encoder : artifacts/data_transformation/label_encoders.pkl
  feature_encoder: artifacts/data_transformation/feature_encoders.pkl

model_trainer:
  root_dir: artifacts/model_trainer
  train_data_path: artifacts/data_transformation/train_processed.npy
  test_data_path: artifacts/data_transformation/test_processed.npy
  model_name: model.joblib

model_evaluation:
  root_dir: artifacts/model_evaluation
  model_path: artifacts/model_trainer/model.joblib
  test_raw_data: artifacts/data_transformation/test.csv
  metric_file_path: artifacts/model_evaluation/metrics.json
  preprocessor_path: artifacts/data_transformation/preprocessor.pkl